/* 
    Created on : 18 mars 2020
    Author     : Franck J.
*/
/*------------------------------- 
        main components
--------------------------------- */
body {
    background-color: floralwhite;
    color: #312f31;
    /*-- pour demarrer sous la navbar fixe --*/
    padding-top: 7em;   
}
